.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 500px;
}

#profile-pic-container{
    align-self: center;}

#profile-pic{
    height: 16rem;
    border-radius: 50%;
}

.text-container{
    align-self: center;
}

.text-flex{
    margin: 1rem;
}

#text {
text-align: justify;
margin-left: 50px;
font-weight:bolder;
font-size: 14pt;
background-color: white;
opacity: 80%;
}