#root {
  margin: 0 auto;
  content: fill;
  height: 100vh;
  min-height: 100vw;
}

.header-container {
  width: 100vw;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  display: flex;
  justify-content: center;
  min-height: 100vh;  
}

.nav-tabs{
  display: flex;
  list-style: none;
}

.nav-item{
  padding: 10px;

}

.active{
  color: green !important;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 4px;
  background-color: yellow;
}

.main-content{
  text-align: center;
}

#message{
  font-size: 12pt;
}