.home-container{
   text-align: center;
   display: flex;
   flex-direction: column;
}

.home-content{
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: right;
  }