.home-container{
   text-align: center;
   display: flex;
   flex-direction: column;
}

.home-content{
    align-self: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: right;
  }

.footer-container{
    display: flex;
    justify-content: flex-end;
}

#stack-overflow{
    margin-left: 25px;
    margin-right: 25px;
}

#linkedIn{
    margin-right: 25px; 
}



